<?xml version="1.0" encoding="utf-8"?>
<!-- Registers every screen in the app and makes LoginActivity the first screen. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="PokeVault"
        android:theme="@style/Theme.PokeVault">
        <activity android:name=".ProfileActivity" />
        <activity android:name=".VaultActivity" />
        <activity android:name=".CatalogActivity" />
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
